body {
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: auto;
}
nav {
    width: 100%;
    margin:0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.logo {
    font-size: 30px;
    text-transform: capitalize;
    padding: 20px;
    font-style: italic;
    margin-left: 40px;
}
.menu {
    margin-left: 60px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}
.menu li {
    padding: 10px;
    list-style: none;
}
.menu a {
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: bold;
    color: #131313;
    
}

/*--------header end-------*/

/*--------main -------*/
/*--------section 1 -------*/

.section1 {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    margin-top: 40px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
 .section1text {
    margin: 70px;
 }
 .section1text , .section1img {
    width: 50%;
 }
 .section1text .section1h1 {
    font-size: 40px;
    padding-left: 20px;
   
    text-transform: capitalize;
    color: #131313;
 }
 .section1text .section1p {
    font-size: 18px;
    padding-left: 20px;
 }
 .section1text .section1button {
    width: 160px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-left:20px;
    border-radius: 10px;
    background-color: rgb(246, 117, 97);
 }
 .section1img {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: 400px;

 }
 .section1img img {
    width: 400px;
 }

/*--------section1 end ------*/

/*--------section--2--star------*/
.section2{
    width: 100%;
    margin-bottom: 100px;
}
 .all-logo {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    background-color: aliceblue;
    justify-content: center;
    border: 1px solid #e6c7c7;
    justify-content: space-evenly;
    border-radius: 10px;
   
 }

 
 .logo-part img {
    width: 90px;
    margin-top: 40px;
    margin-left: 30px;
    

 }

/*--------section--2-- end------*/
.scetion3 {
    width: 100%;
    height: 1500px;
    margin-top: 60px;
}
 .scetion3 .section1heading {
    align-items: center;
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    padding-top: 20px;
 }
 .section3box {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
 }
 .section3cardbox {
    display: flex;
    justify-content: space-around;
 }

 .section3card {
    width: 300px;
    height: 400px;
   margin-top: 30px;
   margin-bottom: 30px;
    border-radius: 10px;
    background-color:white;
    box-shadow:2px 2px 4px 2px rgb(129, 117, 117);
 }
 .section3card img {
    width: 260px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 13px;
    box-shadow: 5px 5px 20px white;
   
 }

 .section3-card-h3 {
    font-size: 25px;
    margin-left: 20px;
    font-style: normal;
 }


 .section3-card-p{
    margin-top: -20px;
    font-size: 16px;
    margin-left: 20px;
    font-style: normal;

 }
 .logo-part img {
    width: 40px;
    margin-left: -5px;
    justify-content: space-evenly;
}
.all-logo{
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.logo-part {
    margin-bottom: 23px;
}

.section3card {
    width: 300px;
    margin: 17px;
   
}

.section4 {
    width: 95%;
    height: 500px;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
   
}
.img-section4 , .text-section4 {
    width: 50%;
}

.img-section4 img{
   width: 400px;
   margin-top: 70px;
   margin-left: 70px;
}
.text-section4  .text-section4-p .text-section4-h1 {
    width: 400px;
    margin: 0 auto;
    padding-right: 10px;
}
.text-section4  .text-section4-h1{
    font-size: 35px;
    text-transform: capitalize;
    margin-top: 150px;
}
.text-section4  .text-section4-p{
    font-size: 16px;
   
    
}

.button-section4 {
    width: 130px;
    height: 40px;
    background-color: tomato;
    margin-top: 50px;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 10px;
}

/*---------footer _------------*/
footer{
    width: 100%;
    height: 300px;
    background-color: #131313;
    text-align: center;
    align-content: center;
    
}
.footer-heading {
    font-size: 27px;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    color: aliceblue;
    margin-top: 70px;
    padding-top: 70px;
}
.emaill {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #e6c7c7;
    
}

/*---------footer _------------*/


footer {
    width: auto;
}




/* -------------------media---------------  */

@media screen and (max-width:576px){

    nav  ,
    .section3cardbox ,
    .section4
    {
        flex-direction: column;
    } 

        /*-----section  4 ---*/
        .section4 {
            height: auto;
        }

        .img-section4 , .text-section4 {
            width: 90%;
           margin-left: 15px;
            
        }
        .img-section4 img {
            margin: 20px;
           padding-top: 50px;
            width: 300px;
            
        }
        .text-section4 {
            margin-top: -120px;
        }
        

          /*-----section  4 ---*/

          /*---------footer _------------*/


          /*---------footer _------------*/



    .section1img {
        background-size: auto;
    }
     .logo {
        margin-bottom: -50px;
        padding-bottom: -50px;
     }
     .all-logo {
        margin-left: 25px;
     }
    nav  .logo ,.menu  {
        padding: 10px;
        margin: 10px;
    }
     .section1 {
        flex-direction: column-reverse;
        padding: 10px;
        margin: 10px;
        height: auto;
        width: 100%;
     }
     .menu a {
        font-size: 12px;
     }
     .section1img img {
        width: 80%;
        margin-top: 15px;
        margin-left: 17px;
     }

     .section1text ,.section1img {
        width: 100%;
     }
      .section1text .section1button {
        margin-left: 95px;
       
     }
/*-----------*/
.scetion3 {
    height: auto;
}
   



    }
    
    
